{% extends 'narrow.html' %}
{% load i18n staticfiles %}

{% block content %}

{% with appname=client.oauth_app.name %}
	<h2>{% blocktrans %}Authorize <i>{{appname}}</i>{% endblocktrans %}</h2>
	<p class="lead">Application <i>{{appname}}</i> would like to access this information of you.</p>
	<form method="post">
		{{ hidden_inputs }}
		<ul>
			{% for name, desc in scope.items %}
			<li><strong>{{ desc.name }}</strong> <br><i class="text-muted">{{ desc.description }}</i></li>
			{% endfor %}
		</ul>
		<br>
		<button type="submit" class="btn btn-primary btn-block btn-lg" name="_allow" value="yes">{% trans 'Accept' %}</button>
		<button type="submit" class="btn btn-secondary btn-block">{% trans 'Decline' %}</button>
	</form>
{% endwith %}

{% endblock %}
