{% extends 'base.html' %}
{% load i18n staticfiles %}

{% block content %}

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h2>{{ client.profile.name }}</h2>
		<form action="{{redirect_uri}}" method="post">
			<input type="hidden" name="RelayState" value="{{RelayState}}"/>
			{% if SAMLResponse %}
				<input type="hidden" name="SAMLResponse" value="{{SAMLResponse}}"/>
			{% endif %}
			<button type="submit" class="btn btn-primary btn-block btn-lg">{% trans 'Log in' %}</button>
		</form>
	</div>
</div>

{% endblock %}
