{% load i18n %}

<h1>{% blocktrans %}Hello and thanks for creating a new account at {{site_name}}!{% endblocktrans %}</h1>

<p>{% blocktrans %}Maybe you've forgotten about it, but you already have an account.{% endblocktrans %}</p>

{% include "registration/email/-log-in-with.html" %}

{% if reset_password %}
<p>{% blocktrans %}In case you don't remeber your password, you can reset it through the link below:{% endblocktrans %}</p>

<p><a href="{{reset_password}}">{{reset_password}}</a></p>
{% endif %}
