{% extends 'narrow.html' %}
{% load i18n static crispy_forms_tags %}

{% block content %}

<h2>{% trans "Create account" %}</h2>
{% if flow.auth_request %}
	<p class="lead">
	{% with flow.auth_request.client.oauth_app.name as appname %}
		{% blocktrans %}to continue to {{appname}}{% endblocktrans %}
	{% endwith %}
	</p>
{% endif %}

<form method="post">
	{{ form|crispy }}
	<button type="submit" class="btn btn-primary btn-block btn-lg">{% trans "Confirm your email" %}</button>
</form>

{% endblock %}
