{% extends "base.html" %}
{% load i18n static crispy_forms_tags %}

{% block content %}
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<!-- TODO move this if out of the template, and redirect if logged in -->
		{% if not user.is_authenticated %}

		<h2>{% trans 'Log in' %}</h2>

		{% for provider in identity_providers %}
		<a href="{{provider.login_url}}?next={{next|urlencode}}" class="btn btn-default btn-block">
		{% blocktrans trimmed %}
			Sign in with {{provider}}
		{% endblocktrans %}
		</a>
		{% endfor %}

		<hr/>

		<form method="post">
			{% csrf_token %}
			{{form|crispy}}

			<button type="submit" class="btn btn-primary btn-block btn-lg">{% trans 'Log in' %}</button>
			{% if user.is_authenticated %}
			<a href="/" class="btn btn-secondary btn-block">{% trans 'Cancel' %}</a>
			{% endif %}
		</form>

		<a href="{% url 'custom-password-reset' %}" class="btn btn-secondary btn-block">{% trans 'Forgot password?' %}</a>

		{% else %}
		<h2>{% trans "You're already logged in." %}</h2>
		<a href="/" class="btn btn-primary btn-block">{% trans 'Continue' %}</a>
		{% endif %}
	</div>
</div>
{% endblock %}
